body {
    padding-top: 70px; /* Adjust this value based on your navbar's height */
  }
  
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {background-image: url('robot.jpg');
    background-size: cover;
    background-repeat:repeat;
    background-attachment: fixed;
    height: 250%; /* Ensure background covers the entire viewport */
}

.content {
    background-color: rgba(163, 215, 228, 0.9); /* Add a semi-transparent white background for readability */
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.container {
	max-width: 640px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}


nav.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;  

.industrialrevolution {width: 70%;}
