body {
    padding-top: 70px; /* Adjust this value based on your navbar's height */
  }
  
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {background-image: url('robot.jpg');
	     background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;

  padding: 20px; /* Adjust padding as needed */
}}

.content {
    background-color: rgba(163, 215, 228, 0.9); /* Add a semi-transparent white background for readability */
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.container {
	max-width: 640px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}


nav.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;  

.industrialrevolution {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px 0;
  }
